.CheckoutProduct{
    position: relative;
    width: 578px;
    height: 147px;
    border-bottom: 0.5px solid #000000;
    font-family: "Open Sans";
    font-size: 16px;
}

.CheckoutImage{
    width: 91px;
    height: 123px;
    background-color: #F0F0F0;
    float: left;
}

.CheckoutInfo{
    height: 123px;
    margin-left: 16px;
    display: inline-block;
}

.CheckoutInfo p{
    margin: 0px;
    height: 19px;
    margin-bottom: 4px;
}

.CheckoutSpecs{
    margin-top: 16px;
    font-size: 14px;
}

.CheckoutPrice{
    position: absolute;
    width: 36px;
    height: 24px;
    right: 4px;
    bottom: 19px;

    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

.CheckoutDiscount{
    float: left;
    font-weight: bold;
}

.CheckoutOldPrice{
    padding-left: 8px;
    text-decoration: line-through;
    display: inline-block;
}