.CheckoutProduct{
    display: flex;
    width: 100%;
    min-height: 147px;
    border-bottom: 0.5px solid #000000;
    font-family: "Open Sans";
    font-size: 16px;
    margin-top: 32px;

}

.CheckoutProduct * {
    font-family: "Open Sans";
    font-weight: normal;
}

.CheckoutImage{
    width: 91px;
    height: 132px;
    object-fit: cover;
    background-color: #F0F0F0;
}

.CheckoutInfo{
    margin-left: 16px;
    margin-bottom: 16px;
    display: inline-block;
}

.CheckoutInfo p{
    margin: 0px;
    margin-bottom: 4px;
}

.CheckoutSpecs{
    margin-top: 16px;
    font-size: 14px;
}

.CheckoutPrice{
    margin-left: auto;
    align-self: flex-end;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    margin-bottom: 16px;
}

.CheckoutDiscount{
    float: left;
    font-weight: bold;
}

.CheckoutOldPrice{
    padding-left: 8px;
    text-decoration: line-through;
    display: inline-block;
}