.CheckoutProduct{
    position: relative;
    width: 578px;
    height: 147px;
    border-bottom: 0.5px solid #000000;
    font-family: "Open Sans";
    font-size: 16px;
}

.CheckoutImage{
    position: absolute;
    width: 91px;
    height: 123px;
    left: 0px;
    top: 0px;
    background-color: #F0F0F0;
}

.CheckoutInfo{
    position: absolute;
    width: 135px;
    height: 123px;
    left: 107px;
    top: 0px;
}

.CheckoutInfo p{
    margin: 0px;
    height: 19px;
    margin-bottom: 4px;
}

.CheckoutSpecs{
    margin-top: 16px;
    font-size: 14px;
}

.CheckoutPrice{
    position: absolute;
    width: 36px;
    height: 24px;
    right: 5px;
    top: 104px;

    font-weight: bold;
    font-size: 14px;
    text-align: right;

    color: #000000;
}