.close {
    float: right;
    margin: 13px;
    margin-right: 24px;
    cursor: pointer;
}

.form {
    text-align: center;
}

.span {
    font-family: Open Sans;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
    line-height: 16px;
    color: var(--foregroundColor);
}

.span a {

    text-transform: none;
    font-family: Open Sans;
    color: var(--foregroundColor);
}

.mainSection {
    margin: 40px 24px 24px 24px;
}

.container {

    position: relative;
    width: 256px;
    height: 24px;
    margin: 16px 0;
    

}

.checkBoxContainer {
    position: relative;
    text-align: left;
}

.checkbox {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox + label:before {
    content: '';
    margin-right: 10px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: var(--backgroundColor);
}

.checkbox:hover + label:before {
    background: rgba(0, 0, 0, 0.6);
}

.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:checked + label:before {
    background: rgba(0, 0, 0, 0.6);
}

.checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 8px;
    background: var(--backgroundColor);
    width: 2px;
    height: 2px;
    box-shadow: 
        2px 0 0 var(--backgroundColor),
        4px 0 0 var(--backgroundColor),
        4px -2px 0 var(--backgroundColor),
        4px -4px 0 var(--backgroundColor),
        4px -6px 0 var(--backgroundColor),
        4px -8px 0 var(--backgroundColor);
    transform: rotate(45deg);
}


.submit:hover {
    /* background: #ffeb00; */
    filter: brightness(95%);
    cursor: pointer;
}

.submit {

    border: none;

    width: 264px;
    height: 32px;

    margin-top: 32px;

    left: calc(50% - 264px/2);

    background: var(--highlightColor);

}

.showHide {

    position: absolute;
    right: 8px;
    top: 5px;
    padding: 0;
    margin: 0;

    font-size: 12px;
    line-height: 14px;
    text-align: center;

    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.signUpButton {
    float: right;    
}

/* body:not(.dialog), body:not(.dialog) * {
    -webkit-filter: blur(2px);
    filter: blur(2px);   
} */

.popUpBackground {
    background: rgba(255, 255, 255, 0.418);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.dialog {
    position: absolute;
    top: 20%;
    left: calc(50% - 312px/2); /*50%;*/
    width: 312px;
    background: var(--backgroundColor);
    border: 0.5px solid var(--foregroundColor);
    box-sizing: border-box;
}

.signUp {
    height: 402px;
}

.signIn {
    height: 305px;
}

.text {

    width: 100%;
    max-width: 256px;
    /* width: 256px; */
    height: 16px;
    background-color: rgba(0, 0, 0, 0.07);

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    overflow: hidden;

    /* margin: 8px;
    margin-left: 0; */

    border: none;

}

.text:focus {
    outline: none;
    height: 15px;
    border-bottom: 1px solid var(--foregroundColor);
}

.clickableText {
    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickableText:hover {
    /* color: #414141; */
    background: var(--highlightColor);
}