.Footer {
  position: relative;
  width: 100%;
  min-height: 310px;
  left: 0%;
  right: 0%;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.05);
}

.linksWrapper {
  display: flex;
}
.aboutCol {
  width: 150px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 48px 0px 0px 32px;
}
.helpCol {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  width: 110px;
  margin: 48px 0px 0px 64px;
}

.aboutCol ul, .helpCol ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aboutCol ul li, .helpCol ul li {
  padding-bottom: 4px;
}

.titles {
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.54);
}
.tos, .privacyPol {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-left: 16px;

  color: rgba(0, 0, 0, 0.54);
}

.bottomLinkWrapper {
  padding: 16px;
  margin: 72px 16px 0 16px;
}



@media only screen and (max-width: 716px) {
    .copyright {
        left: calc(50vw - 293px/2);
        bottom: 0px;
    }

    .tos {
        left: 7px;
        bottom: 24px;
    }

    .privacyPol {
        right: 6px;
        bottom: 24px;
    }

    .aboutCol {
        margin-left: 16px;
    }

    .helpCol {
      margin: 48px 0px 0px 32px;
    }

    .bottomLinkWrapper {
      margin: 72px 0 0 0;
    }

    .tos, .privacyPol {
      padding-left: 0px;
    }
}