
.order {

    display: grid;
    /* grid-template-columns: 20% 58% 22%; */
    grid-template-columns: 20% 65% 15%;
    grid-template-areas:
    "info imgs buttons";

    border-bottom: 0.5px solid black;

    padding: 21px 0;

    width: 100%;
}

.info {
    display: grid;
    grid-area: info;
}

.pictures {
    display: flex;
    grid-area: imgs;
}

.sans {
    width: 200px;
    
}

.pictures div {
    /* width: 95px; */
    width: 10%;
    /* width: 100%; */
    height: auto;
    background-color: #F0F0F0;
    margin-right: 8px;
}

.pictures div img {
    /* width: 95px; */
    width: 100%;
    height: auto;
}

.pictures .showMore {
    /* width: 95px; */
    width: 10%;
    height: auto;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.75); */
    cursor: pointer;
}

.pictures .showMore p {
    /* margin: 57% 32%; */
    margin-top: 69%;
    margin-left: -6px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.buttons {
    display: grid;
    grid-area: buttons;
}

.buttons button {
    width: 50%;
    /* width: 105px; */
    height: 32px;
    background: var(--highlightColor);
    border: none;
    margin-left: auto;
}

.buttons button:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.buttons .details {
    margin-bottom: 8px;
    margin-top: auto;
}

.buttons .track {
    margin-bottom: auto;
    margin-top: 8px;
}

@media only screen and (max-width: 1720px) {

    .pictures div {
        width: 95px;
    }
    
    .pictures .showMore {
        width: 95px;
    }

}

@media only screen and (max-width: 1340px) {

    .order {

        grid-template-columns: 24% 61% 15%;
    }
}

@media only screen and (max-width: 1220px) {

    .order {

        grid-template-columns: 27% 55% 18%;
    }

}

@media only screen and (max-width: 1110px) {

    .order {

        grid-template-columns: 40% 32% 28%;
    }

}

@media only screen and (max-width: 1000px) {

    .order {
        grid-template-columns: 60% 40%;
        grid-template-areas:
        "info buttons";
    }

    .pictures {
        display: none;
    }

}