
.overlay {

    display: inline-flex;
    /* position: absolute; */
    top: 80px;
    left: 0px;
    padding-left: var(--overlayOffset);
    width: calc(100% - var(--overlayOffset));
    background-color: var(--backgroundColor);
}

.title {
    font-family: "Open Sans";
    margin-top:0;
    margin-right: 73px;
    font-weight: bold;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin-top: 12px;
}

.list li a {
    font-family: "Open Sans";
    font-weight: normal;
}

.list li a:hover {
    background-color: var(--highlightColor);
}

@media only screen and (max-width: 610px) {

    .overlay {
        --overlayOffset: 11px;
        position: absolute;
        top: 122px;
        left: 0px;
        padding-left: var(--overlayOffset);
    }

}