.Product{
    width:100%; 
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.ImageBox{
    background-color: black;
    width: 151px;
    height: 205px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}
.ProdName{
    float: left;
}
.Price{

    float: left;
}
.ProductTable{
    float: left;
}
.Container{
    float: left;
    margin-left: 16px;
}