
.topNavContainer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.topNav {

    height: 80px !important;
    width: 100%;
    display: inline-flex;

    background: #FFFFFF;

}

.topNav nav {

    padding: 0;
    margin: 16px 0;

}

.logo {

    width: 48px;
    height: 48px;

    margin: 16px;
    margin-right: 32px;
    margin-left: 48px;

    background: #FFF500;
}

.logo img {

    width: 36px;
    height: 36px;
    margin: 6px;

}

.catagories {

    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: 31px;

}

.right div {
    line-height: 19px;
    padding-right: 26px;
    padding-top: 12px;
}


.topNav nav a, .right a {

    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    padding-right: 48px;

    letter-spacing: 0.1em;

    padding-top: 14px;

    text-align: center;

    color: #000000;
}

.right {

    position: absolute;
    
    margin-top: 16px;
    margin-bottom: 16px;
    
    height: 48px;
    right: 32px;

    display: inline-flex;
}

.right img {
    
    width: 17px;
    height: 17px;
    margin-right: 12px;

}

.clickableText {
    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickableText span:hover {
    /* color: #414141; */
    background: #FFF500;
}