
.topNavContainer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}

.topNav {

    height: 80px !important;
    width: 100%;
    display: inline-flex;

    background: var(--backgroundColor);

}

.logo {

    width: 48px;
    height: 48px;

    margin: 16px 32px;

    background: var(--highlightColor);
}

.logo img {

    width: 36px;
    height: 36px;
    margin: 6px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    cursor: pointer;

}

.catagories {

    margin: 16px 0;
    display: flex;
    flex-direction: row;
    padding: 0;

}

.right div {
    line-height: 19px;
    /* padding-top: 12px; */
    display: flex;
}


.topNav nav a, .right a {

    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    padding-right: 48px;

    letter-spacing: 0.1em;

    padding-top: 14px;

    text-align: center;

    color: var(--foregroundColor);
}

.right a:last-child {
    padding-right: 0;
}

.right {

    position: absolute;
    display: inline-flex;
    
    margin-top: 16px;
    margin-bottom: 16px;
    
    height: 48px;
    right: 32px;

}

.search {
    padding-right: 26px;
    padding-top: 17px;
}

.search input {
    position: relative;
    width: 218px;
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    height: 24px;
    padding: 0 8px;
    top: -5px;

}

.search input:focus {
    border-bottom: 0.5px solid black;
    outline: none;
}

.right img {
    
    width: 17px;
    height: 17px;
    margin-right: 12px;

}

.search img {
    position: relative;
    cursor: pointer;
    /* padding-top: ; */
    width: 20px;
    height: 20px;
    background-color: var(--backgroundColor);
}

.user {
    position: relative;
}

.user .userDropdown span {
    margin-top: 16px;

}

.user .userDropdown {
    position: absolute;
    display: grid;
    top: 35px;
    left: -6px;
    /* width: 121px; */
    /* max-height: 0; */
    height: 0;
    /* display: none; */
    padding: 0 6px;
    z-index: 5;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: var(--backgroundColor);
    transition:  height .2s ease-in-out;
}

.userDropdown.userOpen {
    height: 112px;
}

.clickableText {
    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickableText span:hover {
    /* color: #414141; */
    background: var(--highlightColor);
}

.hamburger {
    display: none;
}

.categoriesButton {
    display: none;
}

@media only screen and (max-width: 1200px) {
 .search input {
     width: 0;
     opacity: 0;
     transition: width .2s ease-in-out;
 }

 .search input:focus {
    width: 218px;
    opacity: 100;
    z-index: 20;
 }

 .search {
     background: var(--backgroundColor);
 }

}

@media only screen and (max-width: 992px) {

    .right {
        right: 0;
    }

    .right div:not(:first-child) {
        padding: 0;
    }

    .right div {
        padding: 0;
        display: grid;
    }

    .right .search {
        display: block;
        padding-top: 12px;
        padding-right: 12px;
    }

    .rightButtons {
        position: absolute;
        width: 160px;
        display: grid;
        height: 0;
        z-index: 5;
        padding: 0;
        transition: height .2s ease-in-out, border-width .2s linear;
        border: 0 solid var(--foregroundColor);
        background-color: var(--backgroundColor);

        top: 42px;
        right: -6px;
        overflow: hidden;
    }

    .rightButtons.open {
        height: none;
        height: 183px;
        border: 1px solid var(--foregroundColor);
        border-top: none;
        overflow: visible;
    }

    .rightButtons a {
        padding: 20px 5px;
        background-color: var(--backgroundColor);
    }

    .rightButtons a:hover {
        background: var(--highlightColor);
    }

    .user .userDropdown {

        left: 0px;
        top: 0px;
        border: 1px solid black;
        padding: 0 6px;
        padding-bottom: 10px;
        transition:  left .2s ease-in-out;
        height: 112px;
        z-index: -1;
    }

    .user .userDropdown span {
        padding: 8px 5px;
        margin-top: 0px;
    }

    .user .userDropdown span:hover {
        background: var(--highlightColor);
    }

    .userDropdown.userOpen {
        left: -156px;
    }


    /* Hamburger */

    .hamburger {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        margin: 12px 26px 0 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: var(--foregroundColor);
        /* border-radius: 9px; */
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      
      .hamburger span:nth-child(2) {
        top: 8px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      
      .hamburger span:nth-child(3) {
        top: 16px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      
      .hamburger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 3px;
        left: 3px;
        /* top: -22px;
        left: 10px; */
      }
      
      .hamburger.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      
      .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 17px;
        left: 3px;
      }

}

@media only screen and (max-width: 610px) {

    .catagories {
        position: absolute;
        top: 64px;
        padding: 0;
        padding-left: 11px;
        padding-bottom: 10px;
        background: white;
        width: calc(100% - 11px);
        justify-content: space-between;
    }

    .topNav nav a {
        padding-right: 19px;
    }

    .search input:focus {
        width: calc(100vw - 154px);
     }

}